body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.product-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-image {
    flex: 0 0 200px;
    margin-right: 20px;
}

.product-details {
    flex: 1;
    text-align: left;
}

form {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="file"],
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

.rating-scale {
    display: flex;
    align-items: center;
}

.rating-label {
    margin-right: 10px;
}

.rating-buttons {
    display: flex;
}

.rating-button {
    background-color: #ff6a00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.rating-button:hover {
    background-color: #000000;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #0061ca;
}